/* Khi tỉ lệ màn hình lớn hơn containers */
@media (min-aspect-ratio: 1940/1050) and (min-width: 768px) {
  html {
    font-size: 0.09523809524vh;
  }
}
/* Khi tỉ lệ màn hình nhỏ hơn hơn tỉ lệ container */
@media (max-aspect-ratio: 1940/1050) and (min-width: 768px) {
  html {
    font-size: 0.05154639175vw;
  }
}
/* MÀN TABLET */
/* Khi tỉ lệ màn hình > tỉ lệ container */
@media (min-aspect-ratio: 3/4) and (max-width: 768px) {
  html {
    font-size: 0.09765625vh;
  }
}
/* Khi tỉ lệ màn hình < tỉ lệ container  */
@media (max-aspect-ratio: 3/4) and (max-width: 768px) {
  html {
    font-size: 0.1302083333vw;
  }
}
/* MÀN MOBILE  */
/* Khi tỉ lệ màn hình > tỉ lệ container */
@media (min-aspect-ratio: 9/20) and (max-width: 480px) {
  html {
    font-size: 0.09375058594vh;
  }
}
/* Khi tỉ lệ màn hình < tỉ lệ container */
@media (max-aspect-ratio: 9/20) and (max-width: 480px) {
  html {
    font-size: 0.2083333333vw;
  }
}
