* {
  margin: 0;
  padding: 0;
  box-sizing: boder-box;
  font-family: arial;
  line-height: 1.125;
}

.mt-12 {
  margin-top: 12px;
}

.mt-18 {
  margin-top: 18px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-36 {
  margin-top: 36rem;
}

.mt-48 {
  margin-top: 48rem;
}

.mr-24 {
  margin-right: 24rem;
}

.mr-36 {
  margin-right: 36rem;
}

.pr-36 {
  padding-right: 36rem;
}

.floor {
  width: 48rem;
  height: 48rem;
  border-radius: 50%;
  border: 1rem solid #3b3b3b;
  color: #3b3b3b;
  line-height: 48rem;
  text-align: center;
}

.icon {
  width: 18rem;
  height: 18rem;
  margin-right: 12rem;
}

.arow {
  width: 36rem;
  height: 12rem;
}

.arrow-mb {
  display: none;
}

.department {
  padding: 24rem;
  width: 384rem;
  height: 210rem;
  border-radius: 8rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1rem solid white;
  display: flex;
  justify-content: space-between;
}

.img-department {
  width: 162rem;
  height: 162rem;
  border-radius: 8rem;
}

.text-right {
  text-align: right;
}

.fs-16 {
  font-size: 16rem;
}

@media (max-width: 768px) {
  .mt-tl-36 {
    margin-top: 36rem;
  }
}

@media (max-width: 480px) {
  .fs-16 {
    font-size: 12rem;
  }
  .mr-mb-12 {
    margin-right: 12rem;
  }

  .mt-mb-18 {
    margin-top: 18rem;
  }

  .mt-mb-24 {
    margin-top: 24rem;
  }

  .mr-mb-24 {
    margin-right: 24rem;
  }

  .mr-mb-36 {
    margin-right: 36rem;
  }
  .hidden-mb {
    display: none;
  }
  .floor {
    width: 36rem;
    height: 36rem;
    line-height: 36rem;
  }
  .arrow-mb {
    width: 12rem;
    height: 36rem;
    display: block;
  }
}
